<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}Developers Planet{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            {% block stylesheets %}
                <link rel="stylesheet" type="text/css" href="{{ asset('../public/assets/css/bootstrap.css') }}">
                <link rel="stylesheet" type="text/css" href="{{ asset('../public/assets/css/style.css?sd') }}">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
                <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            Yay it works :)

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('../public/assets/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('../public/assets/js/bootstrap.js') }}"></script>
            <script src="{{ asset('../public/assets/js/bootbox.min.js') }}"></script>
            <script src="{{ asset('../public/assets/js/demo.js') }}"></script>
        {% endblock %}
    </body>
</html>