{% extends "@App/base.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-12">
            <h1>{{ title | capitalize }}</h1>
            {{ form_start(form) }}
                {{ form_row(form.body) }}
                {{ form_row(form.trends) }}
                {% if post and post.image %}
                    <img src="{{ post.image.publicPath }}" alt="Post image" style="max-width:300px">
                {% endif %}
                {{ form_row(form.image) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
