{% extends "@App/base.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <h1>Posts of today</h1>
            <p>Note that this is just an example page for now!</p>
            <a href="{{ path('posts.create') }}">
                <button class="btn btn-primary">New</button>
            </a>
            <div id="PostList"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('posts') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('posts') }}
{% endblock %}